%h2 Datos de la compañía
%table.table
  %tbody
    %tr
      %td  CUIT
      %td= @company.cuit
    %tr
      %td  Naturaleza jurídica
      %td= @company.corporate_type.denomination
    %tr
      %td  Ramas de actividad
      %td= "#{@company.main_activity.denomination} y #{@company.secondary_activity.denomination}"
    %tr
      %td  Grupo asegurador
      %td= @company.group.denomination
    %tr
      %td= link_to 'Casa matriz', company_path(@company) + '/headquarters'
      %td= "#{@company.locality} (#{@company.province.denomination})"
    %tr
      %td= link_to 'Sucursales', company_path(@company) + '/branches'
      %td= @branches.size
    %tr
      %td= link_to 'Agencias', company_path(@company) + '/agencies'
      %td= @agencies.size
    %tr
      %td= link_to 'Directorio', company_path(@company) + '/directors'
      %td= @president ? @president.name + ' (Presidente)' : '-'
    %tr
      %td= link_to 'Accionistas', company_path(@company) + '/shareholders'
      %td= @shareholder ? "#{@shareholder.name} (#{@shareholder.source}) #{@shareholder.stock}%" : '-'
