!!!
%html
  %head
    %title Panel de Control
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
  
  %body
    .navbar
      .navbar-inner
        .container
          = link_to 'Panel de Control', '#', class: 'brand'

    .container-fluid
      = content_for?(:second_level_layout) ? yield(:second_level_layout) : yield
    
    = javascript_include_tag 'application'
